.receita2{
    background-color: green;
    color: white;
    display: flex;
    font-size: 20px;
}.receita2{
    background-color: green;
    color: white;
    display: flex;
    font-size: 20px;
}